{% extends 'base.html' %}
{% block content %}
{% for about in about_all %}
            <div class="row tm-row tm-mb-45">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <img src="{{ about.about_banner.url }}" alt="Image" class="img-fluid">
                </div>
            </div>
            <div class="row tm-row tm-mb-40">
                <div class="col-12">                    
                    <div class="mb-4">
                        <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">{{ about.about_title }}</h2>
                        {{ about.about_text|safe }}
                    </div>                    
                </div>
            </div>
            <div class="row tm-row tm-mb-120">
                {% for benefit in benefit_all %}
                <div class="col-lg-4 tm-about-col">
                    <div class="tm-bg-gray tm-about-pad">
                        <div class="text-center tm-mt-40 tm-mb-60">
                            <i class="{{ benefit.benefit_icon }}"></i>
                        </div>                        
                        <h2 class="mb-3 tm-color-primary tm-post-title">{{ benefit.benefit_title }}</h2>
                        <p class="mb-0 tm-line-height-short">
                           {{ benefit.benefit_text|safe }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>            
            <div class="row tm-row tm-mb-60">
                <div class="col-12">
                    <hr class="tm-hr-primary  tm-mb-55">
                </div>
                {% for team in team_all %}
                <div class="col-lg-6 tm-mb-60 tm-person-col">
                    <div class="media tm-person">
                        <img src="{{ team.team_photo.url }}" alt="Image" class="img-fluid mr-4">
                        <div class="media-body">
                            <h2 class="tm-color-primary tm-post-title mb-2">{{ team.team_name }}</h2>
                            <h3 class="tm-h3 mb-3">{{ team.team_post }}</h3>
                            <p class="mb-0 tm-line-height-short">
                                {{ team.team_text|safe }}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{% endfor %}
{% endblock content %}